{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
  .card-body {
    padding-left: 10px;
    font-size: 18px;
    margin-top: -24px;
    }
 
</style>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Your Profile</h1>
          <p>Add Address</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    {% include 'user_dashboard.html' %}
    <main class="main-content">
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="billing-address-form">
            <form action="{% url 'add_address' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="source" value="add_address">
              <div class="container py-4">
                {% if messages %}
                  <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                    <div class="messages">
                      {% for message in messages %}
                      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      {% endfor %}
                    </div>
                    </div>
                  </div>
                  </div>
                {% endif %}
                <p><input type="text" placeholder="First Name" name="first_name" required></p>
                <p><input type="text" placeholder="Last Name" name="last_name"></p>
                <p><input type="email" placeholder="Email" name="email" required></p>
                <p><input type="tel" placeholder="Phone" name="phone" required></p>
                <p><textarea type="text" cols="80"  placeholder="Address Line 1" name="address_line_1" required></textarea></p>
                <p><input type="text" placeholder="Address Line 2" name="address_line_2"></p>
                <p><input type="text" placeholder="City" name="city" required></p>
                <p><input type="text" placeholder="Pincode" name="pincode" required></p>
                <button type="submit" class="btn btn-warning btn-lg" style="background-color: #F28123; color: white; border-radius: 35px;">Add Address</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

{% endblock %}
