{% extends 'admin_base.html' %}
{% load static %}

{% block content %}

<br>
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card py-3 mb-4">
        <div class="table-head">
            <h5 class="card-header" style="display: inline-block; margin-right: 670px;">Category</h5>
            <a href="/adminapp/add_category" class="btn btn-primary">Add Category</a>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                        <th>Category Image</th>
                        <th>Category Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.category_name }}</td>
                        <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                <li class="avatar avatar-xs pull-up">
                                    <img src="{{ category.category_images.url }}" alt="Category Image" class="rounded-circle" />
                                </li>
                            </ul>
                        </td>
                        <td>{{ category.category_description|slice:":20" }}...</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'edit_category' category.id %}">
                                        <i class="bx bx-edit-alt me-1"></i> Edit
                                    </a>
                                    <a class="dropdown-item" href="{% url 'delete_category' category.id %}">
                                        <i class="bx bx-trash me-1"></i> Delete
                                    </a>
                                </div>
                            </div>
                        </td>                                                
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}