{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
  .main-content {
	padding-left: 30px;
    font-size: 18px;
	margin-top: 30px;
  }
</style>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Your Profile</h1>
          <p>Change Your Password</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    {% include 'user_dashboard.html' %}
    <!-- Main content area -->
    <main class="main-content">
      <form method="post" action="{% url 'change_password' %}">{% csrf_token %}
        
        <div class="container py-4">
          <div class="row">
          <div class="col-md-12 mb-3">
            <label for="password" class="form-label fs-5">Current Password</label>
            <input type="password" class="form-control form-control-lg" name="current_password" required>
          </div>
          <div class="col-md-12 mb-3">
            <label for="new_password" class="form-label fs-5">Create New Password</label>
            <input type="new_password" class="form-control form-control-lg"  name="new_password" required>
          </div>
          <div class="col-md-12 mb-3">
            <label for="confirm_password" class="form-label fs-5">Confirm New Password</label>
            <input type="password" class="form-control form-control-lg"  name="confirm_password" required>
          </div>
          </div>
        
        <!-- Add any other address fields here -->
        <button type="submit" class="btn btn-warning btn-lg" style="background-color: #F28123; color: white; border-radius: 35px;">Save Changes</button>
      </form>
      
    </main>
  </div>
</div>

{% endblock %}