{% extends 'base.html' %}

{% load static %}

{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Forgot Password</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- forgot password form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="form-title">
						<h2>Forgot Your Password?</h2>
						<p>Enter your registered email to reset your password.</p>
					</div>
					<div class="contact-form">
						<form method="POST" id="forgot-password-form" action="{% url 'forgot_password' %}">
							{% csrf_token %}
							<p>
								<input type="email" placeholder="Email" name="email" id="email" required>
							</p>
							<p><input type="submit" value="Send Email"></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end forgot password form -->

{% endblock %}
