{% extends 'base.html' %}

{% load static %}

{% block content %}

	<!-- hero area -->
	<div class="hero-area hero-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<h1>Power Your Home </h1>
							<p class="subtitle">With the biggest range of Solar Solutions</p>
							<div class="hero-btns">
								<a href="/products" class="boxed-btn">Our Products</a>
								<a href="/contact" class="bordered-btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->

	<!-- features list section -->
	<div class="list-section pt-80 pb-80">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-shipping-fast"></i>
						</div>
						<div class="content">
							<h3>Free Shipping</h3>
							<p>When order over Rs.30,000</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="list-box d-flex align-items-center">
						<div class="list-icon">
							<i class="fas fa-phone-volume"></i>
						</div>
						<div class="content">
							<h3>24/7 Support</h3>
							<p>Get support all day</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="list-box d-flex justify-content-start align-items-center">
						<div class="list-icon">
							<i class="fas fa-sync"></i>
						</div>
						<div class="content">
							<h3>Refund</h3>
							<p>Get refund within 3 days!</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- end features list section -->

	<!-- product section -->
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> Products</h3>
						<p>Solar Garage currently helps procures some of the best products available across the world and makes it available to dealers and customers at affordable costs.</p>
					</div>
				</div>
			</div>

			<div class="row">
				{% for category in categories %}
				<div class="col-lg-6 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="{% url 'products' %}?category={{ category.id }}"><img src="{{ category.category_images.url }}" alt=""></a>
						</div>
						<h3>{{ category.category_name }}</h3>
						<p class="product-price"><span>{{ category.category_description }}</span> </p>
						<a href="{% url 'products' %}?category={{ category.id }}" class="cart-btn">View More  <i class="fas fa-arrow-right"></i></a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- end product section -->

	

	<!-- advertisement section -->
	<div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">Since Year 1988</p>
						<h2>We Solar<span class="orange-text">Garage</span></h2>
						<p>Solar Garage Power Technologies is a powerful and trustworthy brand with a wide range of innovative products in the power backup, and residential solar space.</p>
						<p>Over the last 35 years, Luminous Power Technologies has established itself as the leading home electrical specialist in India with a vast portfolio comprising of Power back up solutions such as Home UPS, Inverter Batteries and Solar Applications.</p>
						<a href="/about" class="boxed-btn mt-4">know more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end advertisement section -->
	
	


	{% endblock %}