{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Your Profile</h1>
          <p>My Orders</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    {% include 'user_dashboard.html' %}
    <!-- Main content area -->
    <main class="main-content col-lg-9">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Order Number</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %} 
          {% comment %} {% for order_product in order_products %} {% endcomment %}
          <tr>
            <td>{{ order.order_number }}</td>
            <td>{{ order.created_at|date:"F j, Y" }}</td>
            <td>{{ order.status }}</td>
            <td>
              <a href="{% url 'order_details' order.id %}" class="btn btn-warning" style="background-color: #F28123; color: white; border-radius: 35px;">Details</a>
              {% if order.status == "New" or order.status == "Accepted" %}
                <a href="{% url 'cancel_order' order.id %}" class="btn btn-danger" style="border-radius: 35px;">Cancel</a>
              {% elif order.status == "Completed" %}
                <a href="{% url 'return_order' order.id %}" class="btn btn-info" style="border-radius: 35px;">Return</a>
              {% endif %}
            </td>      
          </tr>
          {% endfor %}
          {% comment %} {% endfor %} {% endcomment %}
        </tbody>
      </table>
    </main>
  </div>
</div>

{% endblock %}