{% extends 'base.html' %}

{% load static %}

{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Reset Password</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- password reset form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="form-title">
						<h2>Enter New Password</h2>
						<p>Enter your new password and confirm it.</p>
					</div>
					<div class="contact-form">
						{% if messages %}
						<div class="container">
						<div class="row">
							<div class="col-md-12">
							<div class="messages">
								{% for message in messages %}
								<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								</div>
								{% endfor %}
							</div>
							</div>
						</div>
						</div>
						{% endif %}
						<form method="POST" id="reset-password-form" action="{% url 'reset_password' %}">
							{% csrf_token %}
							<p>
								<input type="password" placeholder="New Password" name="password" id="new_password" required>
							</p>
							<p>
								<input type="password" placeholder="Confirm Password" name="confirm_password" id="confirm_password" required>
							</p>
							<p><input type="submit" value="Reset Password"></p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end password reset form -->

{% endblock %}
