{% extends 'base.html' %}

{% load static %}

{% block content %}


<style>
  .wishlist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .product-box {
    flex: 1 9 calc(15% - 10px);
    margin: 5px;
    padding: 2px;
    border: 1px solid #ccc;
    text-align: center;
  }

  .product-box img {
    width: 50%;
    height: auto;
  }

  .product-box h3 {
    font-size: 17px;
    margin: 10px 0;
  }

  .product-box p {
    font-size: 15px;
    margin: 5px 0;
  }

  .wishlist-empty {
    text-align: center;
  }
</style>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Your Profile</h1>
          <p>Wishlist</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    {% include 'user_dashboard.html' %}
    <!-- Main content area -->
    <main class="main-content col-lg-8">
      <div class="container">
        <div class="wishlist-container">
          {% for product in wishlist_products %}
          <div class="product-box">
              <img src="{{ product.product_images.url }}" alt="{{ product.product_name }}">
              <h3><a href="{% url 'product_details' product.category.id product.id %}">{{ product.product_name }}</a></h3>
              <p>Category: {{ product.category }}</p>
              <p>Price: ₹{{ product.price }}</p>
              <form method="post" action="{% url 'remove_from_wishlist' product.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-warning " style="background-color: #F28123; color: white; border-radius: 35px;">Remove from Wishlist</button>
              </form>
              <br>
          </div>
          {% empty %}
          <div class="empty-cart-message text-center" style="padding: 200px 0;">
            <h2>Your Wishlist is Empty</h2>
            <div class="cart-buttons">
              <a href="{% url 'products' %}" class="boxed-btn black">Continue Shopping</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>
  </div>
</div>
{% endblock %}